{{- $team := site.Data.team -}}
{{- range $group := $team.group_order -}}
<h2>{{ $group }}</h2>
{{- $members := where $team.people "group" $group -}}
<div class="team-grid">
  {{- range $members -}}
  <article class="team-card">
    <img class="team-photo" width="150" height="150" src="{{ printf "../profile_pictures/%s" .photo }}" alt="{{ .name }}">
    <div class="team-card-body">
      <p>
        <strong>
          {{- if .website -}}
          <a href="{{ .website }}">{{ .name }}</a>
          {{- else -}}
          {{ .name }}
          {{- end -}}
        </strong>
        {{- if .blurb }}<br>{{ .blurb }}{{ end -}}
      </p>
      {{- if .links }}
      <p class="team-links">
        {{- range $idx, $link := .links -}}
          {{- if gt $idx 0 }} | {{ end -}}
          <a href="{{ $link.url }}">{{ $link.label }}</a>
        {{- end -}}
      </p>
      {{- end -}}
    </div>
  </article>
  {{- end -}}
</div>
{{- end -}}

<h2>Alumni</h2>
<div class="team-alumni-list">
  {{- range $team.alumni -}}
  <p>
    {{- if .url -}}
      <a href="{{ .url }}">{{ .name }}</a>
    {{- else -}}
      {{ .name }}
    {{- end -}}
    {{- with .note }} {{ . }}{{ end -}}
  </p>
  {{- end -}}
</div>
