{{- $people := where site.Data.team.people "home" true -}}
<div class="team-home-grid">
  {{- range $people -}}
  <article class="team-home-card">
    <img class="team-photo" src="{{ printf "../profile_pictures/%s" .photo }}" alt="{{ .name }}">
    <strong>
      {{- if .website -}}
      <a href="{{ .website }}" title="{{ .name }}">{{ .name }}</a>
      {{- else -}}
      {{ .name }}
      {{- end -}}
    </strong>
    <span class="team-home-role">{{ .home_role | default .group }}</span>
  </article>
  {{- end -}}
</div>
