{{- $people := sort (where site.Data.team.people "home" true) "name" -}}
<div class="team-home-grid">
  {{- range $people -}}
  <article class="team-home-card">
    <img class="team-photo" src="{{ (printf "profile_pictures/%s" .photo) | relURL }}" alt="{{ .name }}">
    <div class="team-home-meta">
      <strong>
        {{- if .website -}}
        <a href="{{ .website }}" title="{{ .name }}">{{ .name }}</a>
        {{- else -}}
        {{ .name }}
        {{- end -}}
      </strong>
      <span class="team-home-role">{{ .home_role | default .group }}</span>
    </div>
  </article>
  {{- end -}}
</div>
